body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 568px;
  border-radius: 24px;
  border: 10px solid #fff;
  background: #f2f3f7;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 294px;
  height: 60px;
}

.name {
  margin: 24px 32px 24px;
  padding: 0;
}

.name h1 {
  color: #2f2d51;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.name span {
  color: #2f2d51;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

.dark-light-mode-icon {
  display: inline-flex;
  height: 16px;
  padding: 2px 18px 2px 18px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #2f2d51;
  background: #fff;
  /*background-image: url(iconPolution.svg);
  background-repeat: no-repeat;*/
}

.icon-polution {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}

.display {
 color: #2F2D51;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

  max-width: 256px;
  max-height: 112px;
  gap: 12px;
  padding: 16px 24px;
  margin: 24px 24px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 12px;
  border: 4px solid #f2f3f7;
  background: #c1d0b5;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1), -4px -4px 16px 0px #fff,
    4px 4px 16px 0px rgba(0, 0, 0, 0.15) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset;
}

.display span {
color: rgba(47, 45, 81, 0.50);
text-align: right;
font-family: Helvetica Neue;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.display div {
  color: #2f2d51;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 384px;
  margin: 24px 24px;
  gap: 16px;
}

.buttons-container div {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  width: 52px;
  height: 52px;
}

.buttons-container .group-a {
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
  border: 1px solid rgba(255, 245, 208, 0.5);
  background: #fff5d0;
  box-shadow: 4px 4px 16px 0px rgba(209, 149, 31, 0.2), -4px -4px 16px 0px #fff,
    4px 4px 16px 0px rgba(209, 149, 31, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset;
  color: rgba(47, 45, 81, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons-container .group-a:hover {
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #fff5d0;
  box-shadow: 4px 4px 16px 0px rgba(209, 149, 31, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset,
    4px 4px 16px 0px rgba(209, 149, 31, 0.2), -4px -4px 16px 0px #fff;
  color: #2f2d51;
}

.buttons-container .group-a:focus {
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #f2f3f7;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset;
  color: #2f2d51;
}

.buttons-container .group-b {
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
  border: 1px solid rgba(242, 243, 247, 0.5);
  background: #f2f3f7;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1), -4px -4px 16px 0px #fff,
    4px 4px 16px 0px rgba(0, 0, 0, 0.1) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset;
  color: rgba(47, 45, 81, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons-container .group-b:hover {
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #f2f3f7;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1), -4px -4px 16px 0px #fff,
    4px 4px 16px 0px rgba(0, 0, 0, 0.1) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset;
  color: #2f2d51;
}

.group-b svg:hover {
  flex-shrink: 0;
  stroke: #2f2d51;
  transform: scale(1.2);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons-container .group-b:focus {
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #fff5d0;
  box-shadow: 4px 4px 16px 0px rgba(209, 149, 31, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.6) inset,
    4px 4px 16px 0px rgba(209, 149, 31, 0.2), -4px -4px 16px 0px #fff;
  color: #2f2d51;
}

.buttons-container .group-c {
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
  border: 1px solid rgba(242, 243, 247, 0.5);
  background: #ce4eaa;
  box-shadow: 4px 4px 16px 0px rgba(206, 78, 170, 0.2), -4px -4px 16px 0px #fff,
    4px 4px 16px 0px rgba(54, 1, 63, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.3) inset;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttons-container .group-c:hover {
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #ce4eaa;
  box-shadow: 4px 4px 16px 0px rgba(54, 1, 63, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.3) inset,
    4px 4px 16px 0px rgba(206, 78, 170, 0.2), -4px -4px 16px 0px #fff;
  color: #fff;
}

.buttons-container .group-c:focus {
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #ce4eaa;
  box-shadow: 4px 4px 16px 0px rgba(54, 1, 63, 0.2) inset,
    -4px -4px 16px 0px rgba(255, 255, 255, 0.3) inset,
    4px 4px 16px 0px rgba(206, 78, 170, 0.2), -4px -4px 16px 0px #fff;
}

.buttons-container .equal-sign {
  color: #f2f3f780;
}

footer {
  text-align: center;
  padding: 20px;
}

footer div {
  padding: 6px;
}
